.header {
    background-color: $header-background;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-down(lg) {
            display: block;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 280px;
        height: 86px;
        object-fit: cover;

        @include breakpoint-down(lg) {
            width: 200px;
        }
    }

    &-img--mobile {
        width: 317px;
        height: 317px;
    }

    &-toggle {
    
        span {
            display: block;
            height: 3px;
            background-color: black;

            &:nth-child(1) {
                width: 50px;
            }

            &:nth-child(2) {
                width: 40px;
            }

            &:nth-child(3) {
                width: 30px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &-menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0 40px;
        transition: all 0.3s linear;

        @include breakpoint-down(lg) {
            display: block;
            height: 0;
            overflow: hidden;
            transform: translateX(-100%);
        }

        &-link {
            font-size: 3rem;
            font-family: $font-heading, sans-serif;
            line-height: 40px;
            text-transform: uppercase;
            color: black;

            @include breakpoint-down(lg) {
                font-size: 2.4rem;
                padding: 10px 0;
                display: block;
            }
        }
    }

    &-menu.active {
        transform: translateX(0);
        height: 100vh;
    }

}