.hero {
    background-color: $header-background;
    padding-top: 120px;

    &-container {
        position: relative;
    }
    &-content {
        padding-bottom: 200px;
        display: flex;
        justify-content: center;
    }

    &-left {
        position: absolute;
        left: 0;
        top: 12%;

        @include breakpoint-down(lg) {
            top: -100px;
        }
    }

    &-info {
        width: 500px;
        font-size: 2.1rem;
        font-family: 'Alata', sans-serif;
        line-height: 26px;
        padding: 24px 20px;
        border: 4px dashed black;
        border-radius: 20px;
        margin-bottom: 110px;

        @include breakpoint-down(lg) {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
            font-size: 1.8rem;
            line-height: 22px;
        }

        @include breakpoint-down(md) {
            font-size: 1.5rem;
            line-height: 18px;
        }

        @include breakpoint-down(md) {
            width: 96%;
            margin: 0 auto;
            margin-bottom: 16px;
        }

        strong {
            margin-top: 30px;
            display: block;

            @include breakpoint-down(lg) {
                margin-top: 16px;
            }
        }
    }

    &-btn {
        text-align: center;
    }

    &-img {
        position: relative;
        flex-shrink: 0;
        left: 24%;
        width: 100%;

        @include breakpoint-down(lg) {
            transform: translateY(150px);
            left: 0;
        }

        @include breakpoint-down(md) {
            transform: translateY(170px);
        }
        
        &--muchkin {
            position: absolute;
            top: 34%;
            left: 12%;
            width: 391px;
            object-fit: cover;
            z-index: 1;

            @include breakpoint-down(lg) {
                width: 280px;
            }

            @include breakpoint-down(md) {
                width: 160px;
            }
        }

        &--object {
            position: relative;
        }
    }

    .BG11,
    .BG12,
    .BG13 {
        position: absolute;
        width: 200px;
        height: 200px;

        @include breakpoint-down(lg) {
            width: 160px;
            height: 160px;
        }
    }

    .BG11 {
        transform: rotate(75deg);
        left: 0;
        top: 0;

        @include breakpoint-down(lg) {
            top: -20%;
        }
    }

    .BG12 {
        bottom: 4%;
        @include breakpoint-down(lg) {
            bottom: 40%;
            left: 0;
        }
    }

    .BG13 {
        top: 16%;
        right: 0;
        transform: rotate(75deg);

        @include breakpoint-down(lg) {
            top: 6%;
        }
    }
}