.total {
    background-color: white;

    &-container {
        position: relative;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .box--outline {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0;

        @include breakpoint-down(md) {
            width: 100%;
        }
    }

    &-heading {
        position: relative;
        z-index: 10;
        max-width: 520px;
        margin: 0 auto;
        text-align: center;
    }

    &-img {
        position: relative;
        z-index: 10;
        img {
            object-fit: cover;
        }
    }

    &-number {
        position: relative;
        z-index: 10;
        font-family: Alegreya;
        font-size: 4rem;
        text-align: center;

        @include breakpoint-down(md){
            font-size: 3.2rem;
        }
    }

    &-coin {
        position: absolute;
        width: 100px;
        z-index: 1;

        @include breakpoint-down(lg) {
            width: 80px;
        }
    }

    .coin1 {
        top: 2%;
        left: 4%;
        animation: slideRotateY45 5s infinite;

        @include breakpoint-down(md) {
            top: 0%;
            left: 14%;
        }
    }

    .coin2 {
        top: 20%;
        left: 0;
        animation: slideRotateY45 7s infinite;
    }

    .coin3 {
        top: 60%;
        animation: slideUp 12s infinite;
    }

    .coin4 {
        top: 10%;
        left: 50%;
        animation: slideRotateY45 6s infinite;

        @include breakpoint-down(md) {
            top: 13%;
            left: 43%;
        }
    }

    .coin5 {
        top: 5%;
        right: 16%;
        animation: slideUp 8s infinite;
    }

    .coin6 {
        top: 30%;
        right: 0;
        animation: slideRotateY45 5s infinite;
    }

    .coin7 {
        top: 80%;
        right: 2%;
        animation: slideUp 11s infinite;
    }
}